In [17]:
import pandas as pd

In [18]:
df=pd.read_pickle("./df_merge_withPop_with_FScategories")

In [19]:
df.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude,Population,Area,Population Change,Total income,Commuting,...,Travel,Outdoors,Food,Arts,Shops,Residence,Professional,College,Events,Nightlife
0,M3A,North York,[Parkwoods],43.753259,-79.329656,26533.0,4.96,-1019.0,9.236403e+08,371462.0,...,4,7,5,1,7,7,11,1,0,0
1,M4A,North York,[Victoria Village],43.725882,-79.315572,17047.0,4.72,415.0,5.055629e+08,265933.0,...,3,2,4,1,10,4,7,0,0,0
2,M5A,Downtown Toronto,"[Regent Park, Harbourfront]",43.654260,-79.360636,24755.0,2.51,6180.0,1.197490e+09,396080.0,...,3,3,10,3,15,1,10,0,0,1
3,M6A,North York,"[Lawrence Manor, Lawrence Heights]",43.718518,-79.464763,17519.0,5.34,1438.0,6.125325e+08,275160.0,...,0,1,4,1,32,0,3,0,0,1
4,M9A,Etobicoke,"[Islington Avenue, Humber Valley Village]",43.667856,-79.532242,14453.0,5.45,-14.0,1.165172e+09,173436.0,...,8,8,6,2,8,3,9,0,0,1

In [20]:
import numpy as np

In [21]:
# Mean latitude of downtown Boroughs
lat_m=np.mean(df[df.Borough=="Downtown Toronto"].Latitude)
# Mean longitude of downtown Boroughs
lon_m=np.mean(df[df.Borough=="Downtown Toronto"].Longitude)

#distance between two latitudes is ~111 km and between two longitudes at this range of latitude is ~ 80 km
df["Distance_to_Downtown [Km]"]=np.sqrt((((df["Latitude"]-lat_m)*111)**2)+(((df["Longitude"]-lon_m)*80)**2))

In [22]:
df=df.drop(["Borough","Neighbourhood","Latitude","Longitude","Place categories"],axis=1)

In [23]:
df=df.drop(["College","Events","Nightlife"],axis=1)

In [24]:
df["Ratio_commuting"]=df["Commuting"]/(100*df["Population"])
df["Ratio_renting"]=df["Renting"]/(100*df["Population"])
df=df.drop(["Commuting","Renting"],axis=1)

In [31]:
df

,Population,Area,Population Change,Travel,Outdoors,Food,Arts,Shops,Residence,Professional,Distance_to_Downtown [Km],Ratio_commuting,Ratio_renting,Average_income,Population_density,Population_change_ratio
Postal Code,,,,,,,,,,,,,,,,
M3A,26533.0,4.96,-1019.0,4,7,5,1,7,7,11,11.225608,0.140000,0.225000,34811.000000,5349.395161,-0.036985
M4A,17047.0,4.72,415.0,3,2,4,1,10,4,7,9.149625,0.156000,0.234000,29657.000000,3611.652542,0.024952
M5A,24755.0,2.51,6180.0,3,3,10,3,15,1,10,2.042772,0.160000,0.312580,48373.662008,9862.549801,0.332705
M6A,17519.0,5.34,1438.0,0,1,4,1,32,0,3,9.097721,0.157064,0.216701,34963.894800,3280.711610,0.089422
M9A,14453.0,5.45,-14.0,8,8,6,2,8,3,9,11.827349,0.120000,0.178000,80618.000000,2651.926606,-0.000968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
M8W,21281.0,7.16,-1254.0,0,2,8,1,10,0,14,14.227655,0.112423,0.150581,36165.724543,2972.206704,-0.055647
M4X,25786.0,1.63,-1070.0,0,2,23,1,12,1,6,1.613791,0.235619,0.390414,34440.350035,15819.631902,-0.039842
M8X,8780.0,2.58,642.0,1,5,3,2,16,1,6,9.800770,0.118000,0.062000,110944.000000,3403.100775,0.078889
M4Y,13397.0,0.55,1083.0,3,1,7,1,18,4,8,0.635299,0.250999,0.570000,37653.000000,24358.181818,0.087949
M8Y,28377.0,6.65,-846.0,4,6,2,3,4,6,13,9.480503,0.140252,0.226058,46760.994679,4267.218045,-0.028950

In [26]:
df["Average_income"]=df["Total income"]/df["Population"]
df["Population_density"]=df["Population"]/df["Area"]
df["Population_change_ratio"]=df["Population Change"]/(df["Population"]-df["Population Change"])

In [29]:
df=df.drop(["Total income"],axis=1)

In [30]:
df=df.set_index("Postal Code")

KeyError: "None of ['Postal Code'] are in the columns"

# We want to compare area averaged quantitites hence number of location need to be divided by the area of the neighborhood

In [32]:
for col in ['Travel', 'Outdoors', 'Food','Arts', 'Shops', 'Residence', 'Professional']:
    df[col]= df[col]/df["Area"]

In [33]:
df.to_pickle("./df_analysis_part1") #Not yet standardized

In [34]:
df=pd.read_pickle("./df_analysis_part1")

In [35]:
df

,Population,Area,Population Change,Travel,Outdoors,Food,Arts,Shops,Residence,Professional,Distance_to_Downtown [Km],Ratio_commuting,Ratio_renting,Average_income,Population_density,Population_change_ratio
Postal Code,,,,,,,,,,,,,,,,
M3A,26533.0,4.96,-1019.0,0.806452,1.411290,1.008065,0.201613,1.411290,1.411290,2.217742,11.225608,0.140000,0.225000,34811.000000,5349.395161,-0.036985
M4A,17047.0,4.72,415.0,0.635593,0.423729,0.847458,0.211864,2.118644,0.847458,1.483051,9.149625,0.156000,0.234000,29657.000000,3611.652542,0.024952
M5A,24755.0,2.51,6180.0,1.195219,1.195219,3.984064,1.195219,5.976096,0.398406,3.984064,2.042772,0.160000,0.312580,48373.662008,9862.549801,0.332705
M6A,17519.0,5.34,1438.0,0.000000,0.187266,0.749064,0.187266,5.992509,0.000000,0.561798,9.097721,0.157064,0.216701,34963.894800,3280.711610,0.089422
M9A,14453.0,5.45,-14.0,1.467890,1.467890,1.100917,0.366972,1.467890,0.550459,1.651376,11.827349,0.120000,0.178000,80618.000000,2651.926606,-0.000968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
M8W,21281.0,7.16,-1254.0,0.000000,0.279330,1.117318,0.139665,1.396648,0.000000,1.955307,14.227655,0.112423,0.150581,36165.724543,2972.206704,-0.055647
M4X,25786.0,1.63,-1070.0,0.000000,1.226994,14.110429,0.613497,7.361963,0.613497,3.680982,1.613791,0.235619,0.390414,34440.350035,15819.631902,-0.039842
M8X,8780.0,2.58,642.0,0.387597,1.937984,1.162791,0.775194,6.201550,0.387597,2.325581,9.800770,0.118000,0.062000,110944.000000,3403.100775,0.078889
M4Y,13397.0,0.55,1083.0,5.454545,1.818182,12.727273,1.818182,32.727273,7.272727,14.545455,0.635299,0.250999,0.570000,37653.000000,24358.181818,0.087949
M8Y,28377.0,6.65,-846.0,0.601504,0.902256,0.300752,0.451128,0.601504,0.902256,1.954887,9.480503,0.140252,0.226058,46760.994679,4267.218045,-0.028950